@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 226 70.7% 40.2%;
    --secondary: 224.44 64.29% 32.94%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  [data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 0, 0%, 27%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 222.2 84% 4.9%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary-hover: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --secondary-background: 223, 7%, 20%;
    --primary-background: 220, 13%, 18%;
    --table-background: 0, 0%, 15%;
    --table-row-hover: 0, 0%, 20%;
    --table-border: 0, 0%, 25%;
    --table-header-text: 210, 40%, 95%;
    --table-text: 210, 30%, 85%;
  }

  [data-theme='green'] {
    --background: 120 40% 98%;
    --foreground: 120 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 120 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 84% 4.9%;
    --primary: 119, 54%, 21%;
    --primary-foreground: 355.7 100% 100%;
    --primary-hover: 118, 29%, 43%;
    --secondary: 118, 49%, 15%;
    --secondary-foreground: 355.7 100% 100%;
    --muted: 120 40% 96.1%;
    --muted-foreground: 120 16.3% 46.9%;
    --accent: 142 76% 46%;
    --accent-foreground: 120 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 120 31.8% 91.4%;
    --input: 120 31.8% 91.4%;
    --ring: 142 76% 36%;
  }

  [data-theme='indigo'] {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 238 84% 60%;  /* Indigo 700 */
    --primary-foreground: 210 40% 98%;
    --primary-hover: 244 54.5% 41.4%;
    --secondary: 242.17, 47.43%, 34.31%;  /* Indigo 900 */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 238 84% 70%;  /* Indigo 500 */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 238 84% 60%;
    --radius: 0.5rem;
  }
}

